.section {

    &__product {
        padding: 50px 0;
    }
}

.product {
    display: flex;
    gap: 30px;
    &__gallery {
        
    }

    &__img {
        height: fit-content;
    }

    &__info {
        max-width: 500px;
        width: 100%;
    }

    &__id {
        font-size: 14px;
        color: rgba(0, 0, 0, 0.6);
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 22px;
        color: $colorRed;
    }

    &__description {
    }

    &__old-price {
        font-size: 20px;  
        color: $colorGrey;
        text-decoration: line-through;
    }

    &__current-price {
        font-size: 25px;
        font-weight: 700;       
    }

    &__btn {
        display: inline-block;
        padding: 10px 0;
        width: 50%;
        text-align: center;
        border: 1px solid #FFCE00;
        border-radius: 30px;
        background-color: #FFCE00;
        transition: 0.3s;

        font-size: 13px;

        &:hover {
            border: 1px solid $colorBlack;
        }
    }

}
