.section {
    &__main {
        padding: 50px 0;
    }
}

.main {
    &__top-line {
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        @media (max-width: 575.98px) {
            justify-content: space-between;
        }
    }

    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
    }

    &__void {
        display: none;
        &.--active {
            display: block;
        }
    }

    &__card {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        max-width: calc( 33.33% - 13.33px);
        width: 100%;
        min-width: 235px;
        height: 370px;
        padding: 20px;

        border-radius: 15px;
        border: 2px solid #C4C4C4;
        @media (max-width: 1100px) {
            max-width: calc( 50% - 10px);
        }
        @media (max-width: 810px) {
            max-width: 100%;
        }
        &.--hiddenSearch {
            display: none;
        }
        &.--hidden {
            display: none;
        }
    }

    &__sale {
        position: absolute;
        top: 15px;
        right: 15px;
        

        padding: 8px 17px;
        border-radius: 15px;
        background-color: $colorRed;

        font-weight: 900;
        font-size: 26px;
        color: $colorWhite;
    }

    &__img {
        max-width: 210px;
        width: 100%;
        max-height: 165px;
        height: 100%;

        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        transition: 0.5s;
    }

    &__info {
        text-align: center;
        width: 100%;
    }

    &__id {
        font-size: 13px;
        color: #C4C4C4;
    }

    &__name {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        
        font-size: 16px;
        line-height: 20px;
    }

    &__current {
        font-size: 20px;
        font-weight: 600;
        line-height: 50px;
        &--sale {
            color: $colorRed;
        }
    }

    &__old {
        margin-left: 5px;

        text-decoration: line-through;
        color: #C4C4C4;
        font-size: 14px;
        font-weight: 400;
        line-height: 45px;
    }
}
